{% for evpn in evpns %}
{% if evpn.mode == "vlan_based" %}
set routing-instances {{ evpn.name }} instance-type evpn
set routing-instances {{ evpn.name }} vlan-id {{ evpn.vlan }}
set routing-instances {{ evpn.name }} protocols evpn 
{% for int in evpn.attachment_circuits %}
{% if int.untagged is not defined %}
set interfaces {{ int.name }} flexible-vlan-tagging
set interfaces {{ int.name }} encapsulation flexible-ethernet-services
set interfaces {{ int.name }} unit {{ int.unit }} encapsulation vlan-bridge
set interfaces {{ int.name }} unit {{ int.unit }} vlan-id {{ evpn.vlan }}
set interfaces {{ int.name }} unit {{ int.unit }} family bridge
set routing-instances {{ evpn.name }} interface {{ int.name }}.{{ int.unit }}
{% else %}
set interfaces {{ int.name }} encapsulation ethernet-bridge
set interfaces {{ int.name }} unit 0 family bridge
set routing-instances {{ evpn.name }} interface {{ int.name }}.0
{% endif %}
{% endfor %}
{% elif evpn.mode == "vlan_aware" %}
set routing-instances {{ evpn.name }} instance-type virtual-switch
set routing-instances {{ evpn.name }} protocols evpn extended-vlan-list {{ evpn.vlan_list }}
{% for bd in evpn.bridge_domains %}
set routing-instances {{ evpn.name }} bridge-domains {{ bd.name }} vlan-id {{ bd.vlan }}
{% endfor %}
{% for int in evpn.attachment_circuits %}
set interfaces {{ int.name }} flexible-vlan-tagging
set interfaces {{ int.name }} encapsulation flexible-ethernet-services
set interfaces {{ int.name }} unit 0 family bridge interface-mode {{ int.mode }}
set interfaces {{ int.name }} unit 0 family bridge vlan-id-list {{ int.vlan_list }}
set routing-instances {{ evpn.name }} interface {{ int.name }}.{{ int.unit }}
{% endfor %}
{% endif %}
{% if evpn.no_normalization is defined %}
set routing-instances {{ evpn.name }} no-normalization
{% endif %} 
{% if evpn.import_policy is defined %}
set routing-instances {{ evpn.name }} vrf-import {{ evpn.import_policy.name }} 
{% endif %}
{% if evpn.export_policy is defined %}
set routing-instances {{ evpn.name }} vrf-export {{ evpn.export_policy.name }} 
{% endif %}
set routing-instances {{ evpn.name }} route-distinguisher {{ evpn.rd }}
set routing-instances {{ evpn.name }} vrf-target {{ evpn.target }}
{% endfor %}
